<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="droidkaigi.github.io.challenge2019.story.list">

    <application>
        <activity android:name=".StoryListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="droidkaigi.github.io.challenge2019.story.core.StoryListActivityAlias"
            android:targetActivity=".StoryListActivity" />
    </application>
</manifest>
